BasedOnStyle: LLVM
UseTab: AlignWithSpaces
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach
AlwaysBreakBeforeMultilineStrings: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 80
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
PointerAlignment: Left
ConstructorInitializerIndentWidth: 2
BreakConstructorInitializers: BeforeColon
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
Cpp11BracedListStyle: false
AlwaysBreakTemplateDeclarations: Yes
